Repository charlie83Gs/communities: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build, k8s-validate

.pre-commit-config.yaml:

# Pre-commit hooks for linting, testing, and coverage
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-private-key

  # API (Express + TypeScript + Bun)
  - repo: local
    hooks:
      # Prettier formatting for API
      - id: api-prettier
        name: Format API code with Prettier
        entry: bash -c 'cd api && bun run format'
        language: system
        files: '^api/src/.*\.(ts|js|json)$'
        pass_filenames: false

      # ESLint for API
      - id: api-lint
        name: Lint API code with ESLint
        entry: bash -c 'cd api && bun run lint'
        language: system
        files: '^api/src/.*\.ts$'
        pass_filenames: false

      # TypeScript type checking for API
      - id: api-typecheck
        name: TypeCheck API with TypeScript
        entry: bash -c 'cd api && bunx tsc --noEmit'
        language: system
        files: '^api/src/.*\.ts$'
        pass_filenames: false

      # Run API tests
      - id: api-test
        name: Run API tests
        entry: bash -c 'cd api && bun test'
        language: system
        files: '^api/(src|tests)/.*\.(ts|js)$'
        pass_filenames: false
        stages: [pre-commit]

      # API test coverage check
      - id: api-coverage
        name: Check API test coverage
        entry: bash -c 'cd api && bun test --coverage 2>&1 | tail -n 30'
        language: system
        files: '^api/(src|tests)/.*\.(ts|js)$'
        pass_filenames: false
        stages: [pre-push]  # Only run on push, not every commit

  # Frontend (SolidJS + Vite)
  - repo: local
    hooks:
      # TypeScript type checking for Frontend
      - id: frontend-typecheck
        name: TypeCheck Frontend with TypeScript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: '^frontend/src/.*\.(ts|tsx)$'
        pass_filenames: false

      # Build frontend to catch errors
      - id: frontend-build
        name: Build Frontend
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|css|html)$'
        pass_filenames: false
        stages: [pre-push]  # Only on push to avoid slowing down commits

  # Kubernetes/Infrastructure validation
  - repo: local
    hooks:
      - id: k8s-validate
        name: Validate Kubernetes manifests
        entry: bash -c 'for file in "$@"; do kubectl apply --dry-run=client -f "$file"; done'
        language: system
        files: '^infrastructure/.*\.yaml$'
        pass_filenames: true

# Configuration for staged commits
default_stages: [pre-commit]
fail_fast: false  # Run all hooks even if one fails

fix: replace pg with postgres package in openfga-migrate
  .claude/skills/api-db/SKILL.md
  api/src/utils/openfga-migrate.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

feat: implement Flux CD image automation for K8s manifests
  infrastructure/apps/communities-app/base/api-deployment.yaml
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
  infrastructure/flux/image-automation/README.md
  infrastructure/flux/image-automation/SETUP.md
  infrastructure/flux/image-automation/image-policies.yaml
  infrastructure/flux/image-automation/image-repositories.yaml
  infrastructure/flux/image-automation/image-update-automation.yaml
  infrastructure/flux/kustomization.yaml
  release-please-config.json
Due: k8s-validate

feat: add SSH GitRepository for Flux image automation write access
  infrastructure/flux/image-automation/git-repository-ssh.yaml
  infrastructure/flux/image-automation/image-update-automation.yaml
  infrastructure/flux/kustomization.yaml
Due: k8s-validate

docs: add controller installation guide
  infrastructure/flux/image-automation/INSTALL_CONTROLLERS.md
Due: none

refactor(openfga): restructure authorization model and add new repository layer
  api/src/config/openfga.constants.ts
  api/src/config/openfga.model.ts
  api/src/db/migrations/0007_striped_kang.sql
  api/src/db/migrations/meta/0007_snapshot.json
  api/src/db/migrations/meta/_journal.json
  api/src/db/schema/communities.schema.ts
  api/src/repositories/openfga.repository.ts
  api/src/services/openfga.service.test.ts
  api/src/services/openfga.service.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

feat(api): migrate all services to use OpenFGA repository pattern
  .claude/skills/api-service/SKILL.md
  api/src/api/controllers/trust.controller.ts
  api/src/repositories/communityMember.repository.test.ts
  api/src/repositories/communityMember.repository.ts
  api/src/services/community.service.test.ts
  api/src/services/community.service.ts
  api/src/services/council.service.test.ts
  api/src/services/council.service.ts
  api/src/services/forum.service.test.ts
  api/src/services/forum.service.ts
  api/src/services/healthAnalytics.service.test.ts
  api/src/services/healthAnalytics.service.ts
  api/src/services/initiative.service.test.ts
  api/src/services/initiative.service.ts
  api/src/services/invite.service.test.ts
  api/src/services/invite.service.ts
  api/src/services/items.service.test.ts
  api/src/services/items.service.ts
  api/src/services/poll.service.test.ts
  api/src/services/poll.service.ts
  api/src/services/trust.service.test.ts
  api/src/services/trust.service.ts
  api/src/services/trustAnalytics.service.test.ts
  api/src/services/trustAnalytics.service.ts
  api/src/services/wealth.service.test.ts
  api/src/services/wealth.service.ts
  api/src/services/wealthComment.service.test.ts
  api/src/services/wealthComment.service.ts
  api/src/types/community.types.ts
  api/tests/forum/categories.test.ts
  api/tests/forum/helpers.ts
  docs/features/02-members-permissions.md
  docs/features/13-security-access-control.md
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

feat(frontend): add comprehensive trust level configuration UI
  frontend/src/components/common/Collapsible.tsx
  frontend/src/components/features/communities/CommunitySettings.i18n.ts
  frontend/src/components/features/communities/CommunitySettings.tsx
  frontend/src/components/features/communities/CreateCommunityForm.i18n.ts
  frontend/src/components/features/communities/CreateCommunityForm.tsx
  frontend/src/components/features/forum/ForumThreadList.tsx
  frontend/src/contexts/CommunityContext.tsx
  frontend/src/pages/protected/community/[id].i18n.ts
  frontend/src/pages/protected/community/[id].tsx
  frontend/src/types/community.types.ts
  frontend/src/types/trust.types.ts
Due: frontend-typecheck, frontend-build

fix(deployment): correct communities-app kustomization path
  infrastructure/flux/communities-sync.yaml
Due: k8s-validate

fix(deployment): update ExternalSecret API version from v1beta1 to v1
  infrastructure/apps/communities-app/overlays/production/postgres-credentials.yaml
Due: k8s-validate

fix(deployment): correct namespace from share-app to communities-app and include base resources
  infrastructure/apps/communities-app/overlays/production/kustomization.yaml
  infrastructure/apps/communities-app/overlays/production/postgres-api-cluster.yaml
  infrastructure/apps/communities-app/overlays/production/postgres-credentials.yaml
Due: k8s-validate

chore(deployment): update image tags to latest versions (api:1.4.0, frontend:1.2.0)
  infrastructure/apps/communities-app/base/api-deployment.yaml
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(deployment): comment out imagePullSecrets to test with public images
  infrastructure/apps/communities-app/base/api-deployment.yaml
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(deployment): re-enable imagePullSecrets after creating ghcr-credentials
  infrastructure/apps/communities-app/base/api-deployment.yaml
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(deployment): use latest tag instead of semver version
  infrastructure/apps/communities-app/base/api-deployment.yaml
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(deployment): change postgres storageClass to do-block-storage
  infrastructure/apps/communities-app/overlays/production/postgres-api-cluster.yaml
Due: k8s-validate

fix(deployment): reduce postgres resources to fit cluster capacity
  infrastructure/apps/communities-app/overlays/production/postgres-api-cluster.yaml
Due: k8s-validate

fix(deployment): remove external secret from postgres bootstrap to use CNPG-generated secrets
  infrastructure/apps/communities-app/overlays/production/postgres-api-cluster.yaml
Due: k8s-validate

fix(api): skip OpenFGA migrations in production environment
  api/src/utils/openfga-migrate.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

fix(deployment): change imagePullPolicy to Always for API deployment
  infrastructure/apps/communities-app/base/api-deployment.yaml
Due: k8s-validate

fix(deployment): add SKIP_OPENFGA_MIGRATIONS env var to API deployment
  infrastructure/apps/communities-app/base/api-deployment.yaml
Due: k8s-validate

fix(frontend): configure production URLs as Docker build args for Vite
  .github/workflows/release-please.yml
  frontend/Dockerfile
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(ci): switch frontend build from pnpm to bun for consistency
  .github/workflows/ci.yml
Due: none

fix(keycloak): configure production frontend URLs in realm export
  infrastructure/apps/keycloak/overlays/production/realm-export.json
Due: none

fix(keycloak): use 'communities-app' as client ID and consolidate clients
  api/keycloak/realm-export.json
  infrastructure/apps/keycloak/overlays/production/realm-export.json
Due: none

fix(config): update API domain to api.communities.plv.it.com
  .github/workflows/release-please.yml
  frontend/Dockerfile
  infrastructure/apps/communities-app/base/ingressroute.yaml
  infrastructure/apps/keycloak/overlays/production/realm-export.json
Due: k8s-validate

fix(api): add CORS environment variables for production
  infrastructure/apps/communities-app/base/api-deployment.yaml
Due: k8s-validate

fix(frontend): trigger rebuild with updated API URL configuration
  frontend/vite.config.ts
Due: none

fix(k8s): set frontend imagePullPolicy to Always for latest tag
  infrastructure/apps/communities-app/base/frontend-deployment.yaml
Due: k8s-validate

fix(k8s): add missing Keycloak environment variables to API deployment
  infrastructure/apps/communities-app/base/api-deployment.yaml
Due: k8s-validate

feat(config): implement database-backed runtime configuration system
  api/src/config/runtime/config.repository.ts
  api/src/config/runtime/config.service.ts
  api/src/config/runtime/index.ts
  api/src/db/migrations/0014_old_speed_demon.sql
  api/src/db/migrations/meta/0014_snapshot.json
  api/src/db/migrations/meta/_journal.json
  api/src/db/schema/appConfig.schema.ts
  api/src/db/schema/index.ts
  api/src/repositories/openfga.repository.ts
  api/src/services/openfga.service.ts
  api/src/utils/openfga-init.ts
  docs/features/05-pools.md
  infrastructure/apps/keycloak/base/helmrelease.yaml
  infrastructure/apps/keycloak/base/realm-prod.json
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, k8s-validate

fix(frontend): rename keycloak-routes.ts to .tsx for JSX support
  frontend/src/keycloak-index.tsx
  frontend/src/keycloak-routes.tsx
Due: frontend-typecheck, frontend-build

fix(frontend): resolve all TypeScript errors blocking CI
  frontend/src/components/common/Badge.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/LineChart.tsx
  frontend/src/components/features/forum/ForumThreadList.tsx
  frontend/src/components/features/health/NeedsStatistics.tsx
  frontend/src/components/features/health/TrustStatistics.tsx
  frontend/src/components/features/needs/CouncilNeedCreateForm.tsx
  frontend/src/components/features/needs/NeedCreateForm.tsx
  frontend/src/components/features/pools/MassDistributionWizard.tsx
  frontend/src/components/features/trust/TrustTimelineGraph.tsx
  frontend/src/components/features/wealth/WealthCreateForm.tsx
  frontend/src/hooks/queries/useCanManageItemsQuery.ts
  frontend/src/hooks/queries/useCommunityEvents.ts
  frontend/src/hooks/queries/useHealthQueries.ts
  frontend/src/hooks/queries/usePools.ts
  frontend/src/hooks/queries/useWealth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/keycloak-index.tsx
  frontend/src/pages/protected/community/pools/[poolId].tsx
  frontend/src/services/api/communityEvents.service.ts
  frontend/src/services/api/councils.service.ts
  frontend/src/services/api/health.service.ts
  frontend/src/services/api/initiatives.service.ts
  frontend/src/services/api/wealth.service.ts
  frontend/src/services/keycloak.service.ts
  frontend/src/types/community.types.ts
Due: frontend-typecheck, frontend-build

fix(api): replace == with === in wealth service lint error
  api/src/services/wealth.service.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

refactor(frontend): improve Keycloak integration with best practices
  frontend/KEYCLOAK_IMPROVEMENTS.md
  frontend/bun.lock
  frontend/src/components/auth/AuthContext.tsx
  frontend/src/components/auth/KeycloakApp.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/keycloak-app.tsx
  frontend/src/keycloak-index.tsx
  frontend/src/pages/protected/keycloak-dashboard.tsx
  frontend/src/pages/public/keycloak-login.tsx
Due: frontend-typecheck, frontend-build

docs: remove KEYCLOAK_IMPROVEMENTS.md from branch
  frontend/KEYCLOAK_IMPROVEMENTS.md
Due: none

refactor(frontend): improve Keycloak integration with best practices (#17)
  frontend/bun.lock
  frontend/src/components/auth/AuthContext.tsx
  frontend/src/components/auth/KeycloakApp.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/keycloak-app.tsx
  frontend/src/keycloak-index.tsx
  frontend/src/pages/protected/keycloak-dashboard.tsx
  frontend/src/pages/public/keycloak-login.tsx
Due: frontend-typecheck, frontend-build

feat(frontend): improve Keycloak integration with best practices
  frontend/src/utils/trustLevels.ts
Due: frontend-typecheck, frontend-build
