Repository charlie83Gs/communities: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build, k8s-validate

api-prettier:
  name: Format API code with Prettier
  entry: bash -c 'cd api && bun run format'
  language: system
  pass_filenames: false

api-lint:
  name: Lint API code with ESLint
  entry: bash -c 'cd api && bun run lint'
  language: system
  pass_filenames: false

api-typecheck:
  name: TypeCheck API with TypeScript
  entry: bash -c 'cd api && bunx tsc --noEmit'
  language: system
  pass_filenames: false

api-test:
  name: Run API tests
  entry: bash -c 'cd api && bun test'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

api-coverage:
  name: Check API test coverage
  entry: bash -c 'cd api && bun test --coverage 2>&1 | tail -n 30'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-typecheck:
  name: TypeCheck Frontend with TypeScript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-build:
  name: Build Frontend
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

k8s-validate:
  name: Validate Kubernetes manifests
  entry: bash -c 'for file in "$@"; do kubectl apply --dry-run=client -f "$file"; done'
  language: system
  pass_filenames: true

fix(api): restore BASE_ROLES import that was incorrectly prefixed
  api/src/services/openfga.service.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

fix(ci): generate only semver and latest Docker tags
  .github/workflows/release-please.yml
  infrastructure/flux/image-automation/image-repositories.yaml
Due: k8s-validate

fix(frontend): resolve logout redirect loop to login page
  frontend/src/hooks/useAuth.ts
Due: frontend-typecheck, frontend-build

fix(ci): pass release tag to Docker metadata action for semver tags
  .github/workflows/release-please.yml
Due: none

docs(claude): add comprehensive Bun package manager instructions
  CLAUDE.md
Due: none

fix(api): resolve all 59 failing unit tests
  api/src/api/validators/wealth.validator.test.ts
  api/src/api/validators/wealth.validator.ts
  api/src/repositories/forum.repository.test.ts
  api/src/services/communityEvents.service.ts
  api/src/services/pools.service.test.ts
  api/src/services/pools.service.ts
  api/src/services/wealth.service.test.ts
  api/src/services/wealth.service.ts
  api/tests/forum/categories.test.ts
  api/tests/forum/permissions.test.ts
  api/tests/forum/posts.test.ts
  api/tests/forum/threads.test.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

fix(frontend): prevent ItemSelector dropdown from flashing/losing focus
  frontend/src/components/features/items/ItemSelector.tsx
  frontend/src/hooks/queries/useItems.ts
Due: frontend-typecheck, frontend-build

fix(frontend): resolve input focus-loss bugs across 6 components
  frontend/src/components/features/communities/CommunityList.tsx
  frontend/src/components/features/communities/InviteUserForm.tsx
  frontend/src/components/features/communities/TrustGrantsManager.tsx
  frontend/src/components/features/wealth/WealthCreateForm.tsx
  frontend/src/components/features/wealth/WealthList.tsx
  frontend/src/utils/debounce.ts
Due: frontend-typecheck, frontend-build

fix(frontend): resolve token refresh infinite loop causing API 500 errors
  frontend/src/api/axiosInstance.ts
  frontend/src/components/auth/AuthContext.tsx
  frontend/src/services/api/client.ts
  frontend/src/services/keycloak.service.ts
Due: frontend-typecheck, frontend-build

chore(docs): remove obsolete frontend documentation files
  frontend/KEYCLOAK_FRONTEND_IMPLEMENTATION.md
  frontend/MODAL_UPDATES.md
  frontend/NEEDS_TIMELINE_TODO.md
Due: none

feat(api): expand default items catalog from 60 to 400 items
  api/src/config/defaultItems.constants.ts
  api/src/config/defaultItems/beverages.ts
  api/src/config/defaultItems/freshProduce.ts
  api/src/config/defaultItems/objectsOther.ts
  api/src/config/defaultItems/packagedFood.ts
  api/src/config/defaultItems/services.ts
  api/src/config/defaultItems/types.ts
  docs/features/04-wealth-sharing.md
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

feat: add multi-language support to items (EN, ES, HI)
  api/BATCH2_FIX_SUMMARY.md
  api/fix_all_test_types.py
  api/fix_service_tests.sh
  api/fix_test_errors.sh
  api/src/api/controllers/items.controller.test.ts
  api/src/api/controllers/items.controller.ts
  api/src/api/validators/items.validator.ts
  api/src/app.ts
  api/src/config/runtime/config.repository.ts
  api/src/db/migrations/0015_items_translations.sql
  api/src/db/migrations/meta/_journal.json
  api/src/db/schema/items.schema.ts
  api/src/repositories/items.repository.test.ts
  api/src/repositories/items.repository.ts
  api/src/repositories/needs.repository.ts
  api/src/repositories/pools.repository.ts
  api/src/services/council.service.ts
  api/src/services/items.service.test.ts
  api/src/services/items.service.ts
  api/src/services/needs.service.ts
  api/src/services/pools.service.ts
  frontend/src/components/features/items/items.i18n.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build

fix(tests): remove unused _result variables in test files
  api/src/services/initiative.service.test.ts
  api/src/services/items.service.test.ts
  api/src/services/userPreferences.service.test.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

fix(api): flatten item translations to name/description in responses
  api/src/api/controllers/items.controller.test.ts
  api/src/api/controllers/items.controller.ts
  api/src/api/validators/items.validator.test.ts
  api/src/services/items.service.test.ts
  api/src/services/items.service.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

feat(items): enable editing and deletion of default items
  api/src/services/items.service.test.ts
  api/src/services/items.service.ts
  docs/features/04-wealth-sharing.md
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

fix(frontend): add AuthGuard to communities route
  frontend/src/routes.ts
Due: frontend-typecheck, frontend-build

chore: consolidate documentation and update project structure
  .env.example
  CLAUDE.md
  README.md
  api/.env.example
  api/COUNCILS_IMPLEMENTATION.md
  api/Dockerfile
  api/ITEMS_FEATURE_IMPLEMENTATION.md
  api/KEYCLOAK_SERVICE_ACCOUNT_CONFIG.md
  api/NEEDS_SYSTEM_IMPLEMENTATION.md
  api/POLLS_IMPLEMENTATION.md
  api/POOLS_API_FIX_SUMMARY.md
  api/POOL_CONTRIBUTION_BUG_FIX_SUMMARY.md
  api/POOL_CONTRIBUTION_FIX_VERIFICATION.md
  api/src/app.ts
  api/src/utils/openfga-migrate.ts
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/pages/protected/dashboard.tsx
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build

fix(tests): fix failing unit tests
  api/src/repositories/community.repository.test.ts
  api/src/services/trust.service.test.ts
  api/src/services/wealthComment.service.test.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

doc: new features
  CLAUDE.md
  docs/features/13-security-access-control.md
  docs/features/15-disputes-system.md
  docs/features/16-value-contribution.md
  docs/features/README.md
Due: none

feat(disputes): implement complete dispute resolution system
  IMPLEMENTATION_STATUS.md
  api/bun.lock
  api/package.json
  api/src/api/controllers/dispute.controller.ts
  api/src/api/routes/dispute.routes.ts
  api/src/api/validators/dispute.validator.ts
  api/src/app.ts
  api/src/db/migrations/0016_disputes_system.sql
  api/src/db/schema/communities.schema.ts
  api/src/db/schema/disputes.schema.ts
  api/src/db/schema/index.ts
  api/src/repositories/dispute.repository.test.ts
  api/src/repositories/dispute.repository.ts
  api/src/services/dispute.service.test.ts
  api/src/services/dispute.service.ts
  docs/features/15-disputes-system.md
  frontend/src/components/features/communities/CommunitySidebar.tsx
  frontend/src/components/features/disputes/DisputeCard.tsx
  frontend/src/components/features/disputes/DisputeForm.tsx
  frontend/src/components/features/disputes/DisputeMessages.tsx
  frontend/src/components/features/disputes/DisputesList.tsx
  frontend/src/components/features/disputes/MediatorProposal.tsx
  frontend/src/components/features/disputes/ResolutionDisplay.tsx
  frontend/src/components/features/disputes/ResolutionForm.tsx
  frontend/src/components/features/disputes/disputes.i18n.ts
  frontend/src/hooks/queries/useDisputes.ts
  frontend/src/pages/protected/community/[id].i18n.ts
  frontend/src/pages/protected/community/[id].tsx
  frontend/src/pages/protected/community/disputes/[disputeId].tsx
  frontend/src/pages/protected/community/disputes/index.tsx
  frontend/src/pages/protected/community/disputes/new.tsx
  frontend/src/routes.ts
  frontend/src/services/api/disputes.service.ts
  frontend/src/types/dispute.types.ts
  frontend/src/utils/dateUtils.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build

fix(migrations): add missing items translations migration
  api/src/db/migrations/0015_items_translations.sql
  api/src/db/migrations/0016_value_recognition.sql
  api/src/db/migrations/0017_integrate_contributions_with_items.sql
  api/src/db/migrations/meta/_journal.json
Due: api-prettier

fix(contributions): correct community context reference in sidebar
  frontend/src/components/common/Icon.tsx
  frontend/src/components/features/communities/CommunitySidebar.tsx
  frontend/src/pages/protected/community/[id].i18n.ts
  frontend/src/pages/protected/community/[id].tsx
Due: frontend-typecheck, frontend-build

fix(contributions): improve item selector and remove manage categories tab
  frontend/src/components/features/items/ItemSelector.tsx
  frontend/src/pages/protected/CommunityContributions.i18n.ts
  frontend/src/pages/protected/CommunityContributions.tsx
Due: frontend-typecheck, frontend-build

feat(contributions): embed contributions page in community layout
  frontend/src/pages/protected/community/[id].tsx
  frontend/src/routes.ts
Due: frontend-typecheck, frontend-build

fix(api): resolve TypeScript errors in tests and deprecated files
  CONTRIBUTIONS_USER_GUIDE.md
  api/src/api/controllers/items.controller.test.ts
  api/src/api/controllers/valueRecognition.controller.ts
  api/src/api/validators/valueRecognition.validator.ts
  api/src/db/schema/valueRecognition.schema.ts
  api/src/repositories/items.repository.test.ts
  api/src/repositories/valueCategory.repository.ts
  api/src/services/__tests__/valueRecognition.service.test.ts
  api/src/services/items.service.test.ts
  api/src/services/valueCategory.service.ts
  api/src/services/valueRecognition.service.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage

ci: run database migrations before tests
  .github/workflows/ci.yml
Due: none

fix: update dispute migrations to 0018/0019 and align Community type with schema
  BACKEND_CHANGES.md
  api/src/api/controllers/dispute.controller.ts
  api/src/api/routes/dispute.routes.ts
  api/src/api/validators/dispute.validator.ts
  api/src/config/openfga.model.ts
  api/src/db/migrations/0018_disputes_system.sql
  api/src/db/migrations/0019_add_dispute_privacy.sql
  api/src/db/migrations/meta/_journal.json
  api/src/db/schema/disputes.schema.ts
  api/src/repositories/dispute.repository.test.ts
  api/src/repositories/dispute.repository.ts
  api/src/services/dispute.service.ts
  api/src/services/openfga.service.ts
  api/src/types/community.types.ts
  frontend/src/components/common/Card.tsx
  frontend/src/components/common/CommunityMemberSelector.tsx
  frontend/src/components/common/Icon.tsx
  frontend/src/components/features/disputes/AddParticipant.tsx
  frontend/src/components/features/disputes/DisputeForm.tsx
  frontend/src/components/features/disputes/DisputePrivacyControl.tsx
  frontend/src/components/features/disputes/disputes.i18n.ts
  frontend/src/hooks/queries/useDisputes.ts
  frontend/src/pages/protected/community/[id].tsx
  frontend/src/pages/protected/community/disputes/[disputeId].tsx
  frontend/src/services/api/disputes.service.ts
  frontend/src/types/community.types.ts
  frontend/src/types/dispute.types.ts
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build

fix: complete TypeScript error fixes for dispute schema changes
  api/src/repositories/community.repository.test.ts
  api/src/services/dispute.service.test.ts
  api/src/services/invite.service.ts
  api/src/services/trust.service.ts
  frontend/src/components/features/communities/CommunitySettings.tsx
  frontend/src/components/features/communities/CreateCommunityForm.tsx
Due: api-prettier, api-lint, api-typecheck, api-test, api-coverage, frontend-typecheck, frontend-build

fix: update migration journal to include missing migrations 0028, 0031-0033
  api/src/db/migrations/meta/_journal.json
Due: api-prettier

fix: remove manual journal insert from migration 0032
  api/src/db/migrations/0032_add_min_trust_for_checkout_links.sql
Due: none

Path conditions:
  api-prettier: any of: ^api/src/.*\.(ts|js|json)$
  api-lint: any of: ^api/src/.*\.ts$
  api-typecheck: any of: ^api/src/.*\.ts$
  api-test: any of: ^api/(src|tests)/.*\.(ts|js)$
  api-coverage: any of: ^api/(src|tests)/.*\.(ts|js)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/src/.*\.(ts|tsx|css|html)$
  k8s-validate: any of: ^infrastructure/.*\.yaml$
